$transition-color-one: #7686df;
$transition-color-two: #8b86ef;
$transition-color-three: #b596ea;
$transition-color-four: #cca7ea;
$transition-color-five: #eba9e7;
$transition-color-six: #f2b8cd;
$transition-color-seven: #f5b7ae;
$transition-color-eight: #f4caaa;
$transition-color-nine: #f5d59d;

@keyframes animate {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.banner-image {

  background: linear-gradient(-45deg,
      $transition-color-one 0%, $transition-color-two 13%, $transition-color-three 25%,
      $transition-color-four 38%, $transition-color-five 50%, $transition-color-six 62%,
      $transition-color-seven 75%, $transition-color-eight 87%, $transition-color-nine 100%);
  background-size: 500% 500%;
  position: relative;
  animation: animate 10s ease-in-out infinite;
}