$transition-color-one: #7686df;
$transition-color-two: #8b86ef;
$transition-color-three: #b596ea;
$transition-color-four: #cca7ea;
$transition-color-five: #eba9e7;
$transition-color-six: #f2b8cd;
$transition-color-seven: #f5b7ae;
$transition-color-eight: #f4caaa;
$transition-color-nine: #f5d59d;
$navbar-primary-light: #f1b7d0;

$navbar-primary-dark: #dea9e9;


.nav-image {
    background-image: linear-gradient(to right, $navbar-primary-light, $navbar-primary-dark);
    position: fixed;
    width: 100vw;
    z-index: 2;

}