$primary-dark-color: #1f194c;
$secondary-dark-color: #575a7b;

$secondary-light-color: #ffffff;

.action {
    color: $secondary-dark-color;
    padding: 0.3rem;
    border: 1px solid $secondary-dark-color;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    background: transparent;


}

.action:hover {
    background-color: $primary-dark-color;
    color: $secondary-light-color
}