@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Quicksand:wght@300&display=swap';


$titles-font-family: 'Poppins', sans-serif;
$body-font-family: 'Quicksand', sans-serif;
$primary-background-color: #f5f5f5;
$primary-dark-color: #1f194c;
$primary-light-color: #ffffff;
$primary-light-transparent-color: #ffffff77;
$secondary-dark-color: #575a7b;
$primary-title-weight: 600;
$transition-color-two: #8b86ef;
$navbar-dark: #161c2d;

@keyframes cssmarquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}


body {
  font-family: 'Quicksand', sans-serif;
  background-color: $primary-background-color;
  color: $primary-dark-color;
}

a {
  text-decoration: none;
  color: $primary-dark-color;
}

th {
  font-size: 14px;
  ;
}

.title {
  font-family: $titles-font-family;
  color: $primary-dark-color;
  font-weight: $primary-title-weight;
  text-transform: capitalize;
}

.main-song-title {
  font-family: $titles-font-family;
  color: $primary-dark-color;
  font-weight: $primary-title-weight;
  text-transform: capitalize;
  font-size: 16px;
}

.main-artist-title,
.main-album-title,
.main-date-title {

  font-size: 14px;
}

.dark {
  color: $primary-dark-color;
}

.dark-background {
  background-color: $primary-dark-color
}

.light {
  color: $primary-light-color;
}

.light-transparent {
  color: $primary-light-transparent-color;
}

.light-background {
  background-color: $primary-light-color;
}


.subtitle {
  color: $secondary-dark-color
}

.full-height {
  height: 100vh;
}

.full-width {
  width: 100vw;
}

.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.form-control {
  border: none;
  border-bottom: 1px solid $primary-dark-color !important;
  background: rgba(255, 255, 255, 0.3) !important;
  border-radius: 0;
  width: 100%;

}

.navbar-dark {
  background-color: $navbar-dark;
}


.album-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-wrapper {
  position: absolute;
  height: 50px;
  width: 50px;
  overflow: hidden;
  background-color: #e1e7bb;
  filter: invert(1);
  border-radius: 50%;
  z-index: 1;
  border: 1px solid transparent;
  transition: .2s ease-in-out;
}

.album-wrapper::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.album-wrapper:hover::after {
  opacity: 1;


}

audio::-webkit-media-controls-current-time-display {
  color: rgba(0, 0, 0, 0);
  opacity: 0;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-enclosure {
  background-color: #e1e7bb;
}

.audio-wrapper:hover,
.audio-wrapper:hover audio::-webkit-media-controls-play-button,
.audio-wrapper:hover audio::-webkit-media-controls-enclosure {
  background-color: transparent;
}

.audio-wrapper:hover {
  border: 1px solid black;

}

.wrap {
  flex-wrap: wrap;
}

audio {
  margin-left: -2px;
  margin-top: -2px;
  transition: .2s ease-in-out;

}

.space-between {
  justify-content: space-between;


}

.align-items-baseline {
  align-items: baseline;
}

.icon-gap {
  gap: 10px;
}

.icon:hover {
  color: $transition-color-two;
}

.profile-icon {
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.library-icon {
  min-width: 125px;
  min-height: 125px;
  max-width: 200px;
  max-height: 200px;
}

.full-width {
  width: 100vw;
}

.card-text-custom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;

}


.dropdown-toggle::after {
  content: none;
}

#dropdown-basic {
  background-color: transparent;
  color: $primary-dark-color;
  border: none;

}

a.dropdown-item {
  font-size: 14px;
  color: $primary-dark-color;
}